<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Menús Guardados</title>
  <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
  <div class="container">
    <h1>Agregar Menú</h1>
    
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />

      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" required />

      <label for="precio">Precio:</label>
      <input type="text" id="precio" name="precio" required />

      <button type="submit">Guardar</button>
   

    <div id="mensaje" style="margin-top: 10px; font-weight: bold;"></div>
    </div>

<div class="container2">
    <h1>Menús Guardados</h1>
    <table class="table" id="tablaMenus">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Menús guardados se insertan aquí -->
      </tbody>
    </table>
  </div>
<script src="admenu.js"></script>
<div id="modalConfirmacion" class="modal" style="display: none;">
  <div class="modal-contenido">
    <h2>¿Deseas eliminar este menú?</h2>
    <div id="detalleMenu"></div>
    <div class="modal-botones">
      <button id="btnConfirmarEliminar">Confirmar</button>
      <button id="btnCancelarEliminar">Cancelar</button>
    </div>
  </div>
</div>


<br><br>

<nav class="menu">
    <a href="../views/login.html">Iniciar Sesión</a>
    <a href="../views/registro.html">Registrarse</a>
    <a href="../views/menu.html">Menu</a>
    <a href="../views/contacto.html">Contactos</a>
    <a href="../index.html">Home</a>
    
  </nav>

<footer class="footer">
  <p>Síguenos en:
  <a href="https://www.facebook.com/share/1CjFRPerrF/">Facebook</a>|
   <a href="https://www.instagram.com/asadorbedua?igsh=cTR0Y2l3eDFhbWVn">Instagram</a> </p>
</p>

  <p>&copy; 2025 Restaurante 2 Rios</p>
  <p>“El sabor que conquista tu paladar.”</p>
</footer>

</body>
</html>