<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administrador</title>
  
  <link rel="stylesheet" href="../css/res.css"> <!-- Aquí se enlaza tu CSS personalizado -->
  
</head>
<body>

  <div class="admin-container">
    <h1>Bienvenido Administrador. <br> Que deseas ver?</h1>
    <div class="admin-buttons">
      <a href="usuarios.html">👤 Ver Usuarios</a>
      <a href="admenu.html">📋 Ver Menús</a>
      <a href="admres.html">📆 Ver Reservaciones</a>
    </div>
  </div>

</body>
</html>
