<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestión de Usuarios</title>
  <link rel="stylesheet" href="../css/estilos.css"> 
</head>
<body>
<br><br>
  <div class="container2">  
    <h2 class="titulo2">Gestión de Tipos de Usuario</h2>

    <div class="mensaje" id="mensaje"></div>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Tipo Actual</th>
          <th>Nuevo Tipo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody id="tablaUsuarios">
        <!-- Usuarios se insertan aquí -->
      </tbody>
    </table>
  </div>

  <script src="cambiar_tipo_usuario.js"></script> 

  <br><br><br><br><br><br><br><br><br><br>

  <nav class="menu">
    <a href="../views/login.html">Iniciar Sesión</a>
    <a href="../views/registro.html">Registrarse</a>
    <a href="../views/menu.html">Menu</a>
    <a href="../views/contacto.html">Contactos</a>
    <a href="../index.html">Home</a>
  </nav>

  <footer class="footer">
    <p>Síguenos en:
      <a href="https://www.facebook.com/share/1CjFRPerrF/">Facebook</a> |
      <a href="https://www.instagram.com/asadorbedua?igsh=cTR0Y2l3eDFhbWVn">Instagram</a>
    </p>
    <p>&copy; 2025 Restaurante 2 Rios</p>
    <p>“El sabor que conquista tu paladar.”</p>
  </footer>

</body>
</html>


