<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
  
  <br><br><br><br><br>
  <h1 class="titulo2">Registrarse</h1>

  <form id="formRegistro">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono" required>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" required>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required minlength="8">


    <button type="submit">Registrarse</button>
  </form>
<script src="registro.js"></script>
<div id="mensaje" style="margin-top: 20px; font-weight: bold;"></div>



<br>
<br><br>

<nav class="menu">
    <a href="../views/login.html">Iniciar Sesión</a>
    <a href="../views/registro.html">Registrarse</a>
    <a href="../views/menu.html">Menu</a>
    <a href="../views/contacto.html">Contactos</a>
    <a href="../index.html">Home</a>
    

  </nav>

<footer class="footer">
  <p>Síguenos en:
  <a href="https://www.facebook.com/share/1CjFRPerrF/">Facebook</a>|
   <a href="https://www.instagram.com/asadorbedua?igsh=cTR0Y2l3eDFhbWVn">Instagram</a> </p>
</p>

  <p>&copy; 2025 Restaurante 2 Rios</p>
  <p>“El sabor que conquista tu paladar.”</p>
</footer>

</body>
</html>
